@charset "utf-8";
*{
     padding: 0px;
     margin: 0px;

}

body{
    background-color: #3E81D5;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 30px;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 3px rgba(46, 46, 46, 0.178);
}


section{
    margin: auto;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 3px rgba(46, 46, 46, 0.397);
}

#numero{
    width: 200px;
}

/* #numero:active{
    border: 1px 1px white
} */

footer{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    padding: 20px;
    color: white;
}