@charset "utf-8";


body{
    background-color: #3E81D5;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 30px;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 3px rgba(46, 46, 46, 0.178);
}

select{
    display: block;
    margin: auto;
}

section{
    margin: auto;
    background-color: white;
    max-width: 500px;
    height: 250px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 3px rgba(46, 46, 46, 0.397);
}


#lista{
    width: 150px;
    margin: auto;
}

footer{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    padding: 20px;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    font-size: 1.2em;
    transition: 0.075s;
    background-color: rgba(255, 255, 255, 0.247);
    padding: 5px;
    border-radius: 10px;
    
}